.footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 40px 20px;
  
    .footer-socials {
      display: flex;
      justify-content: center;
      gap: 24px;
      margin-bottom: 20px;
  
      a {
        color: #ccc;
        font-size: 24px;
        transition: all 0.3s ease;
  
        &:hover {
          color: #8a86e8; /* акцент */
          transform: translateY(-3px);
        }
      }
    }
  
    .footer-text {
      margin-bottom: 20px;
  
      h3 {
        margin: 0 0 6px;
        font-size: 20px;
        font-weight: 600;
      }
  
      p {
        margin: 0;
        font-size: 15px;
        opacity: 0.8;
      }
  
      span {
        display: block;
        margin-top: 4px;
        font-size: 14px;
        opacity: 0.6;
      }
    }
  
    .footer-copy {
      font-size: 13px;
      opacity: 0.5;
    }
  }
  